#board {
    width: 480px;
    height: 480px;
    border: 2px solid rgb(6, 6, 103);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    visibility: hidden;
    
}

#board button{
     width: 120px;
    height: 120px;
    border: 0.5px solid #7BC2EA;
}

.naglowek{
    background-color: #7BC2EA;
    margin-bottom: 15px;
    margin-left: auto;
}

.logo{
    width: 100px;
    height: 100px;
}

#wynik{
    position: absolute;
    font-weight: bold;
    font-size: 40px;
    color:rgb(6, 6, 103);
    top: 25%;
    left:33%;
}

#start{
    visibility:"hidden";
    display: block;
    padding: 1.3em 3em;
    font-weight: bold;
    font-size: 1.1rem;
    color: #FFF;
    text-decoration: none;
    margin: 2em auto;
    background:rgb(6, 6, 103);
    border-radius: 3em;
    text-shadow: none;
    border:0;
    cursor: pointer;
}

#kontener{
    position: absolute;
    font-weight: bold;
    font-size: 30px;
    color:rgb(6, 6, 103);
    left: 25%;
}

#dalej{
    display: block;
    padding: 1.3em 3em;
    font-weight: bold;
    font-size: 1.1rem;
    color: #FFF;
    text-decoration: none;
    margin: 2em auto;
    background:rgb(6, 6, 103);
    border-radius: 3em;
    text-shadow: none;
    border:0;
    cursor: pointer;
}